::placeholder { 
    opacity: 0.7;
  }


  ::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  .customFileInput::-webkit-file-upload-button {
    visibility: hidden;
  }
  .customFileInputZip::before {
    content: 'فرمت فایل : zip';
    opacity: 0.7;
  }
  .customFileInputJpg::before {
    content: 'فرمت فایل : jpeg';
    opacity: 0.7;
  }
  .customFileInputDoc::before {
    content: 'فرمت فایل : docx';
    opacity: 0.7;
  }

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}